
.payConditions__container--cards{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.card {
    width: 380px;
    height: 250px;
}

.card h4 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

.card p {
    font-size: 20px;
    line-height: 32px;
}

.payConditions__container__cards--imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
}

.payConditions__container__cards__superior {
    width: 790px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-bottom: 25px;
}

.payConditions__container__cards__inferior {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card__4 {
    width: 790px;
}