button {
    all: unset;
    width: 280px;
    height: 64px;
    background-color: #B81515;
    border: 1px solid #B81515;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;

    transition: 1.5s all;

    &:hover {
        background-color: #6b1010;
        border: 1px solid #6b1010;
        color: #a19999;
        cursor: pointer;
        transition: 1s all;
    }
}