.header__ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__ul--li {
    list-style: none;
}

.header__ul--li a {
    text-decoration: none;
    color:#F5F5F5;
    font-size: 1.375rem;
    transition: 1.5s all;

    &:hover {
        color: #9c9898;
        transition: 1s all;
    }

    &:active, &:focus{
        border-bottom: 2px solid white;
    }
}