.container__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 64px;
}

.container__underlined{
    width: 180px;
    border: 2px solid #B81515;
    margin: 16px auto 64px auto;
}

.CardOffers__List {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}